.hidden {
  display: none;
}

/* == GLOBAL == */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #ffffff;
  --dairy: #fcfcfc;
  --burger: #2f2f37;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  font-family: var(--font-family);
  color: var(--slate);
  letter-spacing: 0.02em;
  background-color: var(--white);
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -- Reset -- */
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

input {
  font-family: inherit;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

/* -- Common -- */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* == HEADER == */
.page-header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagenav-list,
.contacts {
  display: none;
}

.logo-link {
  font-family: var(--second-family);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--iris);
  display: block;
}

.header-logo {
  padding: 16px 0;
}

.header-logo .logo-link-studpart {
  color: var(--navy-blue);
}

.burger-btn {
  padding: 0;
  background-color: transparent;
  border: none;
}

.burger-icon {
  display: block;
  fill: var(--burger);
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .pagenav-list {
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
  }

  .contacts {
    display: block;
    font-style: normal;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
}
