/* 3 */
.section {
  padding: 120px 0;
}

/* 5 */
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

/* == HEADER == */
.header-logo {
  margin-right: 76px;
}

/* 4 */
.pagenav-list .current-page-link:after {
  border-radius: 2px;
  width: 48px;
  height: 4px;
  background-color: var(--ocean);
  content: "";
  position: absolute;
  top: 69px;
  left: 0;
}

.pagenav-list .link {
  color: var(--navy-blue);
  text-decoration: none;
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  /* 3 */
  padding: 24px 0;
  display: block;
  /* 4 */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* 4 */
.pagenav-list .current-page-link {
  color: var(--ocean);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* 3 */
.address-list {
  display: flex;
  gap: 40px;
}

.address-list .link {
  color: var(--slate);
  text-decoration: none;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  /* 3 */
  padding: 24px 0;
  display: block;
  /* 4 */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pagenav-list .link:hover,
.pagenav-list .link:focus,
.address-list .link:hover,
.address-list .link:focus {
  color: var(--ocean);
}

/* == MAIN == */
/* -- Hero section -- */
.hero-section {
  background-color: var(--navy-blue);
  /* 3 */
  padding: 188px 0;
  /* 4 */
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-herobg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  text-align: center;
  color: var(--white);
  letter-spacing: 0.02em;
  /* 3 */
  margin: 0 auto 48px auto;
  max-width: 496px;
}

.order-btn {
  font-family: var(--font-family);
  cursor: pointer;
  background-color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: var(--white);
  /* 3 */
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  display: block;
  border: none;
  /* 4 */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:focus,
.order-btn:hover
/* 5 */,
.form-submit-btn:hover,
.form-submit-btn:focus {
  background-color: var(--ocean);
}

/* -- Approach section -- */
/* 3 */
.approach-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* 3 */
.approach-litem {
  flex-basis: calc((100% - 72px) / 4);
}

/* 4 */
.approach-icon-container {
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: var(--cloud);
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -- Page main styles -- */
.section-title {
  color: var(--navy-blue);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  /* 3 */
  margin-bottom: 72px;
}

.section-subtitle {
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  /* 3 */
  margin-bottom: 8px;
}

.section-text {
  font-size: 16px;
  line-height: 150%;
}

/* -- Team section -- */
.team-section {
  background-color: var(--cloud);
}

/* 3 */
.team-facelist {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* 3 */
.employee-text {
  padding: 32px 0;
}

.team-facelist-item {
  background-color: var(--white);
  /* 3 */
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
}

/* 4 */
.social-icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  gap: 24px;
}

/* 4 */
.social-icons-litem {
  width: 40px;
  height: 40px;
}

/* 4 */
.social-icon-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* 4 */
.social-icon-link:hover,
.social-icon-link:focus {
  background-color: var(--ocean);
}

/* 4 */
.social-icon {
  fill: var(--cloud);
}

.team-facelist .section-subtitle {
  text-align: center;
}

.team-facelist .section-text {
  text-align: center;
}

/* -- Portfolio section -- */
/* 3 */
.portfolio-list {
  display: flex;
  align-items: center;
  gap: 48px 24px;
  flex-wrap: wrap;
}

/* 3 */
.portfolio-list .portfolio-litem {
  flex-basis: calc((100% - 48px) / 3);
  /* 4 */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-litem:hover,
.portfolio-litem:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

/* 4 */
.overlay-box {
  position: relative;
  width: 360px;
  height: 300px;
  background-color: var(--iris);
  overflow: hidden;
}

/* 4 */
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: var(--iris);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

/* 4 */
.portfolio-litem:hover .overlay-text,
.portfolio-litem:focus .overlay-text {
  transform: translateY(0);
}

/* 3 */
.portapp-text {
  padding: 32px 16px;
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
}

/* == FOOTER == */
.page-footer {
  background-color: var(--navy-blue);
  /* 3 */
  padding: 100px 0;
}

.footer-logo .logo-link-studpart {
  color: var(--cloud);
}

/* 3 */
.footer-logo {
  padding: 0;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  font-size: 16px;
  line-height: 150%;
  color: var(--cloud);
  /* 3 */
  max-width: 264px;
}

/* 4,5 */
.footer-title-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

/* 4 */
.footer-social-icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* 4 */
.page-footer .social-icon-link:hover,
.page-footer .social-icon-link:focus 
/* 5 */,
 .footer-subscribe-btn:hover,
 .footer-subscribe-btn:focus {
  background-color: var(--green);
}

/* 4 */
.footer-container {
  display: flex;
  align-items: baseline;
}

/* 4 */
.footer-logo-text-container {
  margin-right: 120px;
}

/* 5 */
.footer-subscribe-container {
  margin-left: auto;
}

/* 5 */
.footer-form {
  display: flex;
  align-items: center;

  justify-content: space-between;
  gap: 24px;
}

/* 5 */
.footer-input-email {
  border: 1px solid var(--white);
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: var(--white);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* 5 */
.footer-input-email:focus {
  border-color: var(--green);
}

/* 5 */
.footer-input-email::placeholder {
  /* font-family: var(--font-family);
    font-weight: 400; */
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: var(--white);
}

/* 5 */
.footer-subscribe-btn {
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: var(--iris);
  border: none;
  /* font-family: var(--font-family); */
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);
  display: flex;
  cursor: pointer;
  /* gap: 16px; */
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* 4 */
.footer-subscribe-btn-icon {
  fill: var(--cloud);
  margin-left: 16px;
}

/* == OVERLAY == */
/* 5 */
.backdrop {
  background-color: var(--navy-blue-modal);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  z-index: 999;
  /* display: flex;
    justify-content: center;
    align-items: center; */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

/* 5 */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--dairy);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* 5 for additional animation */
.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -170%);
}

/* 5 */
.form-close-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  padding: 0;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* 5 */
.form-close-btn:hover,
.form-close-btn:focus {
  background-color: var(--ocean);
  border: none;
}

/* 5 */
.modal-form-close-icon-svg {
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* 5 */
.form-close-btn:hover .modal-form-close-icon-svg,
.form-close-btn:focus .modal-form-close-icon-svg {
  fill: var(--white);
}

/* 5 */
.form {
  display: flex;
  flex-direction: column;
}

/* 5 */
.group-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

/* 5 */
.form-label {
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  margin-bottom: 4px;
}

/* 5 */
.modal-form-part-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

/* 5 */
.modal-form-part-wrapper-comment {
  margin-bottom: 16px;
}

/* 5 */
.modal-input-wrapper {
  position: relative;
}

/* 5 */
.form-input {
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* 5 */
.form-input:focus {
  border-color: var(--iris);
}

/* 5 */
.form-input:focus + .modal-form-icon-svg {
  fill: var(--iris);
}

/* 5 */
.modal-form-icon-svg {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* 5 */
.form-input-comment {
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
  resize: none;
  outline: transparent;
}

/* 5 */
.form-input-comment::placeholder {
  color: var(--navy-blue-modal);
}

/* 5 */
.modal-policy-wrapper {
  /* display: flex;
    align-items: center; */
  margin-bottom: 24px;
  /* gap: 8px; */
}

/* 5 */
.modal-form-span-checkbox {
  border-radius: 2px;
  border: 1px solid var(--navy-blue-modal);
  width: 16px;
  height: 16px;
  /* margin-left: 24px; */
  margin-right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* 5 */
.form-privacy-label {
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

/* 5 */
.form-privacy-policy-link {
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--iris);
}

/* 5 */
.form-submit-btn {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--iris);
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  display: block;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* 5 */
.modal-form-v-icon-svg {
  /* fill: transparent; */
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* 5 */
/* input:checked + .form-privacy-label > .modal-form-span-checkbox > .modal-form-v-icon-svg {
    fill: var(--cloud);
} */

/* 5 */
input:checked + .form-privacy-label > .modal-form-span-checkbox {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}
