.hidden {
  display: none;
}

/* == GLOBAL == */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #ffffff;
  --dairy: #fcfcfc;
  --burger: #2f2f37;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  font-family: var(--font-family);
  color: var(--slate);
  letter-spacing: 0.02em;
  background-color: var(--white);
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -- Reset -- */
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

input {
  font-family: inherit;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

/* -- Common -- */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.social-icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons-litem {
  width: 40px;
  height: 40px;
}

.social-icon-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  fill: var(--cloud);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* == HEADER == */
.page-header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagenav-list,
.contacts {
  display: none;
}

.logo-link {
  font-family: var(--second-family);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--iris);
  display: block;
}

.header-logo {
  padding: 16px 0;
}

.header-logo .logo-link-studpart {
  color: var(--navy-blue);
}

.burger-btn {
  padding: 0;
  background-color: transparent;
  border: none;
}

.burger-icon {
  display: block;
  fill: var(--burger);
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .pagenav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .pagenav-list .link {
    position: relative;
    color: var(--navy-blue);
    line-height: 1.5;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .pagenav-list .link::after {
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--ocean);
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;

    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .pagenav-list .link:hover::after,
  .pagenav-list .link:focus::after,
  .pagenav-list.current-page::after {
    opacity: 1;
  }

  .pagenav-list .current-page::after {
    opacity: 1;
  }

  .pagenav-list .link:hover,
  .pagenav-list .link:focus,
  .address-list .link:hover,
  .address-list .link:focus,
  .pagenav-list .link.current-page {
    color: var(--ocean);
  }

  .contacts {
    display: block;
    font-style: normal;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-list .link {
    color: var(--slate);
    text-decoration: none;
    line-height: 117%;
    font-size: 12px;
    letter-spacing: 0.04em;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .address-list .link {
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}

/* -- Mobile menu -- */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transform: translateX(90%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
  background-color: var(--ocean);
  border: none;
}

.mobile-menu-close-btn:hover .modal-form-close-icon-svg,
.mobile-menu-close-btn:focus .modal-form-close-icon-svg {
  fill: var(--white);
}

.mobile-nav {
  margin-bottom: auto;
}

.mobilenav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobilenav-list .mobile-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  display: block;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobilenav-list .current-page {
  color: var(--ocean);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobilenav-list .mobile-link:hover,
.mobilenav-list .mobile-link:focus {
  color: var(--ocean);
}

.mobile-contacts {
  display: block;
  font-style: normal;
}

.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-address-list .mobile-link {
  color: var(--slate);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .mobile-address-list .mobile-address-current-link {
  color: var(--iris);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.mobile-address-list .mobile-link:hover,
.mobile-address-list .mobile-link:focus {
  color: var(--iris);
}

.mobile-social-icons-list {
  gap: 40px;
}

.mobile-social-icons-list .social-icon-link:hover,
.mobile-social-icons-list .social-icon-link:focus {
  background-color: var(--ocean);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
